<?xml version='1.0' encoding='utf-8'?>
<widget id="com.timbond.seattle.fire.dispatch" version="1.0.0">
	<name>Seattle Fire Dispatch</name>
	<description>Android app to display Seattle Fire Department's Real-Time 911 Dispatch</description>
	<author email="apps@tim-bond.com" href="http://www.tim-bond.com/">Tim Bond</author>

	<plugin name="cordova-plugin-globalization" version="1.0.3" />
	<plugin name="cordova-plugin-inappbrowser" version="1.2.0" />
	<plugin name="tabris-plugin-maps" spec="https://github.com/eclipsesource/tabris-plugin-maps.git">
		<variable name="ANDROID_API_KEY" value="AIzaSyBp70WjDhXcwach9hX1y2jZsiO7asKfx_w" />
	</plugin>
</widget>