<?xml version='1.0' encoding='utf-8'?>
<widget id="com.timbond.seattle.fire.dispatch" version="1.0.6" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Seattle Fire Dispatch</name>
	<description>Android app to display Seattle Fire Department's Real-Time 911 Dispatch</description>
	<author email="apps@tim-bond.com" href="https://www.tim-bond.com/">Tim Bond</author>

	<preference name="EnableDeveloperConsole" value="$IS_DEBUG" />

	<plugin name="cordova-plugin-globalization" version="1.0.3" />
	<plugin name="tabris-plugin-maps" spec="https://github.com/cookieguru/tabris-plugin-maps">
		<variable name="ANDROID_API_KEY" value="$ANDROID_API_KEY" />
	</plugin>
	<platform name="android">
		<hook type="before_compile" src="remove_location_permission.js" />

		<edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
			<application android:usesCleartextTraffic="$IS_DEBUG" />
		</edit-config>

		<icon src="resources/android/drawable-hdpi/ic_launcher.png" density="hdpi"/>
		<icon src="resources/android/drawable-ldpi/ic_launcher.png" density="ldpi"/>
		<icon src="resources/android/drawable-mdpi/ic_launcher.png" density="mdpi"/>
		<icon src="resources/android/drawable-xhdpi/ic_launcher.png" density="xhdpi"/>
		<icon src="resources/android/drawable-xxhdpi/ic_launcher.png" density="xxhdpi"/>
		<icon src="resources/android/drawable-xxxhdpi/ic_launcher.png" density="xxxhdpi"/>
	</platform>
</widget>
